.submit-form {
  display: grid;

  .form-group {
    display: grid;

    input[type="file"] {
      display: none;
    }

    label {
      padding: 10px;
      border: 0;
      cursor: pointer;
      background-color: rgba(57, 134, 187, 0.8);
      color: white;
      transition: 0.3s;
      border-radius: 0;
      width: fit-content;
    }

    label:hover {
      transition: 0.3s;
      background-color: rgba(57, 134, 187, 0.3);
    }

    small {
      margin-top: 5px;
    }

    .container-progress {
      display: grid;
      margin: 30px;
      .mat-spinner {
        margin: 15px;
      }
      strong {

      }
    }
  }

  .msg-upload-true {
    display: grid;
    margin-top: 25px;

    h3 {
      padding: 10px;
      border: 1px solid darkgreen;
      background-color: darkseagreen;
      color: darkgreen;
    }

    strong {
      padding: 10px;
      border: 1px solid darkblue;
      background-color: cadetblue;
      color: darkblue;
    }

    button {
      margin-top: 25px;
      padding: 10px;
      border: 0;
      cursor: pointer;
      background-color: rgba(57, 134, 187, 0.8);
      color: white;
      transition: 0.3s;
      border-radius: 0;
    }

    button:focus {
      outline: none;
    }

    button:hover {
      transition: 0.3s;
      background-color: rgba(57, 134, 187, 0.3);
    }
  }
}
