<div>
  <h3>Lista de Logs</h3>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="preco">
    <th mat-header-cell *matHeaderCellDef> REQUEST </th>
    <td mat-cell *matCellDef="let element"> {{element.request}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="desc">
    <th mat-header-cell *matHeaderCellDef> IP </th>
    <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="desc">
    <th mat-header-cell *matHeaderCellDef> USER AGENT </th>
    <td mat-cell *matCellDef="let element"> {{element.userAgent}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="desc">
    <th mat-header-cell *matHeaderCellDef> STATUS </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> <button mat-flat-button color="accent" routerLink="/log-detalhe/{{element.id}}" selected>DETALHES</button></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
